/* Coded by Diana Thun-Hohenstein, Dec 2016 */
* {
	font-family: sans-serif;
	text-align: center;
	font-size: 16px;
	}

body {
	background-color: #e6e6e6;
	padding-top: 50px;
	padding-bottom: 70px;
}

.jumbotron {
	margin-top: 0px;
	background-image: url("images/cfg-background-didithun.png");
	background-size: cover;
	background-attachment: fixed;
}

h2 {
	font-size: 36px;

}

.img-homer {
	max-width: 60%;
}

.light-bg {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 12px;
	padding: 25px;
}

.break {
	margin-top: 30px;
}

.blue {
	color: #0c85ad;
	font-weight: bold;
}

